{% extends "base.html" %}
{% block title %}ITC技术社区主页{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index(nl).css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar(nl).css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/main/main.js') }}"></script>
    {% if True %}
        <!-- 配置文件 c -->
        <!--编辑器源码文件 -->
    {% endif %}
{% endblock %}
{% block content %}
    <div style="margin-top: 7.5em">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-0 col-xs-offset-0 col-md-1 col-xs-1">
                    <nav class="side">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle=".navbar-collapse"
                                    data-target="#side-collapse">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
{#                        <div class="collapse navbar-collapse collapse-pad" id="side-collapse">#}
{#                            <ul class="side-menu">#}
{#                                <li><a class="active">推荐</a></li>#}
{#                                <li><a title="最近发出的受欢迎的文章或问题">最新</a></li>#}
{#                                <li><a title="浏览量大、受欢迎、评论数多的文章或问题">最热</a></li>#}
{#                                <li><a title="所关注的用户发表的文章或提出的问题">关注</a></li>#}
{#                            </ul>#}
{#                        </div>#}

                    </nav>
                </div>
                <div class="col-md-offset-2 col-xs-offset-2 col-md-7 col-xs-8">
                    <div class="article-panel">

                        {% for item in result %}
                            <div class="content-box">
                                <div class="content-title">
                                    {% if item.get_type() == 'article' %}
                                        <h4><a href="{{ url_for('article.content', article_id=item.articleId, _external=True) }}">{{ item.title }}</a></h4>
                                    {% else %}
                                        <h4><a href="{{ url_for('question.content', question_id=item.questionId, _external=True) }}">{{ item.title }}</a></h4>
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <p>{{ item.content|safe }}</p>
                                </div>
                                <div class="content-tag">
                                    {% for tag in item.tags.all() %}
                                        <a title="该文章的标签">{{ tag.get_object().name }}</a>
                                    {% endfor %}
                                </div>
                                <dl class="article-info">
                                    <dd class="writer">
                                        <a href="">{{ item.get_user() }}</a>
                                    </dd>
                                    <dd class="article-time">
                                        <span>{{ item.publicTime }}</span>
                                    </dd>
{#                                    <div class="comment">#}
{#                                        <dd class="support">#}
{#                                            <a title="收藏"><span#}
{#                                                    class="glyphicon glyphicon-plus"></span><span>{{ item.favoriteUsers.all()|length }}</span></a>#}
{#                                        </dd>#}
{#                                        {% if item.get_type() == 'question' %}#}
{#                                        <dd class="comment-num">#}
{#                                            <a title="回答"><span#}
{#                                                    class="glyphicon glyphicon-pencil"></span><span>{{ item.answers.all()|length }}</span></a>#}
{#                                        </dd>#}
{#                                        {% else %}#}
{#                                        <dd class="comment-num">#}
{#                                            <a title="评论"><span#}
{#                                                    class="glyphicon glyphicon-pencil"></span><span>{{ item.articleComments.all()|length }}</span></a>#}
{#                                        </dd>#}
{#                                        {% endif %}#}
{#                                    </div>#}
                                </dl>
                            </div>
                        {% endfor %}

                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
