{% extends "base_user.html" %}
{% block usercontent %}
    <div class="bar col-lg-9">
        <div class="bar-cate">
            <!--我的关注-->
            <div class="collapse navbar-collapse my-bar">
                <ul class="nav nav-pills bar-item" role="tablist">
                    <li role="presentation">
                        <a href="{{ url_for('user.followers', user_id=user.id, _external = True) }}">我关注的
                            <span class="badge">{{ user.followers.all()|length }}</span>
                        </a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="{{ url_for('user.followed', user_id=user.id, _external = True) }}">关注我的
                            <span class="badge">{{ user.followed.all()|length }}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="nav nav-tabs bar-item">
                <li role="presentation">
                    <a href="{{ url_for('user.notification', user_id=user.id, _external=True) }}">通知
                        <span class="badge">{{ user.notifications.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.answers', user_id=user.id, _external=True) }}">回答
                        <span class="badge">{{ user.user_answers.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.questions', user_id=user.id, _external=True) }}">提问
                        <span class="badge">{{ user.questions.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.articles', user_id=user.id, _external=True) }}">文章
                        <span class="badge">{{ user.articles.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.favorites', user_id=user.id, _external=True) }}">收藏
                        <span class="badge">{{ user.favoriteArticles.all()|length + user.favoriteQuestions.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation" >
                    <a href="{{ url_for('user.drafts', user_id=user.id, _external=True) }}">草稿
                        <span class="badge{{ user.drafts.all()|length }}">  </span>
                    </a>
                </li>
                <li role="presentation" class="active">
                    <a href="{{ url_for('user.followers', user_id=user.id, _external=True) }}">关注
                        <span class="badge">{{ user.followed.all()|length }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--关注用户-->
        <div class="user-list">
            {% for followed in user.followed.all() %}
                <div class="user-item">
                    <div class="user_item1">
                        <div class="user_img">
                            <img src="../static/image/touxiang.jpg" height="70" width="70"/>
                        </div>
                        <div class="user_meta">
                            <p>
                                <b>{{ followed.username }}</b>
                            </p>
                            <p>UserIntroduction</p>
                            <p class="otherintor">
                                {{ followed.answers.all()|length }}回答·{{ followed.articles.all()|length }}文章·{{ followed.followed.all()|length }}关注者
                            </p>
                        </div>
                    </div>
                    <!--1为当前关注用户的id-->
                    <div id="focus_1" class="user_item_2">
                        <button class="btn" onmouseover="movein(1)" onmouseout="moveout(1)" onclick="clickfocus(1,1)">已关注
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}