{% extends "base_user.html" %}
{% block usercontent %}
    <div class="bar col-lg-9">
        <div class="bar-cate">


            <p>我的收藏</p>


            <ul class="nav nav-tabs bar-item">
                <li role="presentation">
                    <a href="{{ url_for('user.notification', user_id=user.id, _external=True) }}">通知
                        <span class="badge">{{ user.notifications.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.answers', user_id=user.id, _external=True) }}">回答
                        <span class="badge">{{ user.user_answers.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.questions', user_id=user.id, _external=True) }}">提问
                        <span class="badge">{{ user.questions.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.articles', user_id=user.id, _external=True) }}">文章
                        <span class="badge">{{ user.articles.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation"  class="active">
                    <a href="{{ url_for('user.favorites', user_id=user.id, _external=True) }}">收藏
                        <span class="badge">{{ user.favoriteArticles.all()|length + user.favoriteQuestions.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation" >
                    <a href="{{ url_for('user.favorites', user_id=user.id, _external=True) }}">草稿
                        <span class="badge"> 12 </span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.followers', user_id=user.id, _external=True) }}">关注
                        <span class="badge">{{ user.followed.all()|length }}</span>
                    </a>
                </li>
            </ul>
        </div>

        <!--回答，提问，文章，收藏-->
        {#        for loop#}
        {% for favorite in favorites %}
            <div class="content-box">
                <div class="content-title">
                    <h4><a href="">{{ favorite.title }}</a></h4>
                </div>
                <div class="content-tag">
                    <a>标签1</a>
                    <a>标签2</a>
                </div>
                <div class="content">
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
                        parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                </div>
                <dl class="article-info">
                    <dd class="writer">
                        <a href="">作者</a>
                    </dd>
                    <dd class="article-time">
                        <span>2018-06-11</span>
                    </dd>
                    <dd class="article-time">
                        <button class="delete-btn btn " type="button" data-toggle="modal" data-target="#confirm_delete">删除
                        </button>
                    </dd>
                    <div class="comment">
                        <dd class="support">
                            <a><span class="glyphicon glyphicon-thumbs-up"></span><span>10</span></a>
                        </dd>
                        <dd class="refute">
                            <a><span class="glyphicon glyphicon-thumbs-down"></span><span>5</span></a>
                        </dd>
                        <dd class="read">
                            <a><span class="glyphicon glyphicon-eye-open"></span><span>30</span></a>
                        </dd>
                        <dd class="comment-num">
                            <a><span class="glyphicon glyphicon-pencil"></span><span>3</span></a>
                        </dd>
                    </div>
                </dl>
            </div>
        {% endfor %}
    </div>
{% endblock %}