{% extends "base_user.html" %}
{% block usercontent %}
    <div class="bar col-lg-9">
        <div class="bar-cate">

            <p>我的通知</p>


            <ul class="nav nav-tabs bar-item">
                <li role="presentation" class="active">
                    <a href="{{ url_for('user.notification', user_id=user.id, _external=True) }}">通知
                        <span class="badge">{{ user.notifications.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.answers', user_id=user.id, _external=True) }}">回答
                        <span class="badge">{{ user.user_answers.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.questions', user_id=user.id, _external=True) }}">提问
                        <span class="badge">{{ user.questions.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.articles', user_id=user.id, _external=True) }}">文章
                        <span class="badge">{{ user.articles.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.favorites', user_id=user.id, _external=True) }}">收藏
                        <span class="badge">{{ user.favoriteArticles.all()|length + user.favoriteQuestions.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation" >
                    <a href="{{ url_for('user.drafts', user_id=user.id, _external=True) }}">草稿
                        <span class="badge">{{ user.drafts.all()|length }}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('user.followers', user_id=user.id, _external=True) }}">关注
                        <span class="badge">{{ user.followed.all()|length }}</span>
                    </a>
                </li>
            </ul>
        </div>


        {% for notification in user.notifications.all() %}
            <!-- 通知 -->
            <div class="notification-box">
                <div class="notification-title">

                    <button type="button" data-toggle="modal" data-target="#notify">
                        <h4 class="red-point">{{ notification.title }}</h4>
                    </button>
                </div>
                <div class="notification-content">
                    <p>{{ notification.content }}</p>
                </div>
                <dl>
                    <dd class="notification-time">
                        <span>{{ notification.notifyTime }}</span>
                        <button class="delete-btn btn " type="button" data-toggle="modal" data-target="#confirm_delete">删除
                        </button>
                    </dd>
                </dl>

                <!--</div>-->
                <!-- Modal -->
                <div class="modal fade" id="notify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        onclick="checknotice(1,1)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">{{ notification.title }}</h4>
                            </div>
                            <div class="modal-body">
                                {{ notification.content }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade" id="confirm_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">确认删除XXX吗？</h4>
                            </div>
                            <div class="modal-body">
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                        onclick="canceldeletenotice()">取消
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"
                                        onclick="deletenotice(1,1)">确定
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}