body{
    background: url("../image/user.png") no-repeat fixed center;
    /*filter: brightness(-2);*/
    background-size: cover;
    margin: 0;
    font-size: 1em;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft YaHei", 微软雅黑, Tahoma, Helvetica, Arial, 宋体, sans-serif;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #6f6553 !important;;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #6f6553 !important;;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #6f6553 !important;;
}
input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #6f6553 !important;;
}

.container-fluid {
    padding-right: 0px ! important;
    padding-left: 0px ! important;
}

.nav-box{
    z-index: 1000;
}

.nav-box nav{
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-color: #8a6d3b ! important;
}

.logo{
    position: absolute;
    top: 0;
    left: 3%;
    z-index: 999;
}

.logo h1 a{
    font-size: 31px;
    margin-top: 0px;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-family: 'TitilliumWeb-Bold';
}

.logo a {
    background: #f7ac41e6;
    padding: 0.4em 0.7em;
    display: inline-block;
    color: whitesmoke;
}

.logo a:hover {
    color: white;
    text-decoration: none;
    background-color: #f7ac41;
}

.logo h1{
    margin-top: 0;
}

.navbar-default .navbar-brand {
    color: #242f3a;
}

form.navbar-form.navbar-right {
    padding: 0;
    margin: 1.72em 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffffff ! important;
    background: #4c32108c ! important;
    color: whitesmoke;
}

.navbar-left {
    float: left !important;
    margin-left: 7%;
}

.navbar-default .navbar-nav>li>a{
    padding: 11px 1.2em;
    color: white;
    border-bottom: solid;
    border-color: transparent;
    margin-right: 20px;
    border-bottom-width: 2px;
}

.navbar-default .navbar-nav>li>a.head-img-box{
    padding: 5px 1.2em 0;
}

.navbar-nav>li>a>img{
    width: 35px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
    background-image: unset;
    background-color: transparent ! important;
    box-shadow: none;
    border-color: #f7ac41;
    color: #e8e8e8;
}

.navbar-default .navbar-nav>.active>a:hover{
    color: #e8e8e8;
}

.navbar {
    min-height: 45px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    background-color: transparent ! important;
    color: #e8e8e8;
    border-color: #f7ac41;
}

.form-group {
    position: relative;
}

.navbar-form .form-control {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.5em;
    border-radius: 5px;
    width: 100%;
}

.navbar-form{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    width: 17%;
}

sup {
    top: -.7em;
    right: -.2em;
}

.input-box{
    width: 100%;
    background: white;
    border-radius: 5px;
}

input.form-control {
    padding: 8px 32px 8px 10px;
    height: inherit;
    font-size: 1.3em;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

button.btn.btn-mydefault {
    border: none;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 21%;
    right: 5%;
    padding: 0;
    outline: none;
    box-shadow: none;
}

.serach-btn {
    border: none;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 18%;
    right: 3%;
    padding: 0;
    outline: none;
    box-shadow: none;
    background: none;
}

span.glyphicon.glyphicon-search {
    font-size: 1.5em;
    color: #e69a17;
    top: 4px;
}

a{
    color: rgba(15,16,18, 0.7);
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
}

.navbar-left{
    left: 5%;
}

.nav-box{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-default{
    margin: 0;
    box-shadow: none;
    background: #ffffff ! important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    display: inline-block;
    border-radius: 5px;
}

.nav> li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu{
    font-size: 8px;
    padding: 0;
    background-color: #eceae7cc;
}

.navbar-right {
    float: right!important;
    margin-right: 10px;
}

@media (min-width: 1050px){
    .side{
        left: 12%;
    }
    .f-left-o{
        float: left;
        margin-left: 16%;
    }

    .f-left-t{
        float: left;
        margin-left: 5%;
    }

    .f-left-th{
        float: left;
        margin-left: 7%;
    }
}

@media (min-width: 1080px){
    .side{
        left: 13%;
    }
    .f-left-o{
        float: left;
        margin-left: 15%;
    }

    .f-left-t{
        float: left;
        margin-left: 7%;
    }

    .f-left-th{
        float: left;
        margin-left: 9%;
    }
}
/*-----------*/
.nav-tabs>li>a {
    margin-right: 0;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}




.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #816f68;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-bottom-color: #f0f0f0;
    border-radius: 0;
}

.usercontent{
    width: 80%;
    align: center;
    background-color: rgba(0,0,0,0.2);
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 4% auto;
}
.usercontent img {
    border: #9d836c solid 3px;
    margin: 30px 80px 10px 80px;
}



.userintroduction{
    margin-top: 5%;
    font-size: large;
    margin-right: 40%;
    color: white;
}


.userbtn{
    border-radius: 10px;
    outline: 0 none !important;
    font-size: medium;
    background: none;
    width: 150px;
    height: 30px;
    margin: 100px 20px 0 20px;
    color: white;
    border: #9d836c solid 1px;
    padding: 0 12px !important;
}
.userbtn :active{
    color: #2aabd2;
}

.userblock{
    width: 80%;
    align: center;
    margin: 5% auto;
}
.my-bar{
    padding: 0 !important;
}

.bar-item li a{
    color: white;
    border: none;
    /*border-color: #9d836c;*/
}

.bar-item li a:hover{
    color: #f7ac41e6;
}

.bar-item li a:focus{
    color: #f7ac41e6;
}

.userblock.bar{
    background-color: rgba(0,0,0,0.2);
    margin: 0 10%;
}
.userblock.tag{
    background-color: rgba(0,0,0,0.2);
    margin: 0 10%;
}

.bar-cate{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.bar-cate p{
    color: rgba(255, 255, 255, 0.8);
    font-size: large;
}

.category-box{
    margin-bottom: 5px;
    margin-top: 25px;
}


.category p{

    color: #fbffe3;
    font-size: large;
    margin: 20% auto 10% auto;
}



.category-tags{
    margin-top: 10px;
    margin-left: 5px;
}

.category-tag{
    display: inline-block;
    margin-bottom: 15px;
    font-size: 9px;
}

.category-tag span{
    margin-right: 8px;
}

.category-tag a{
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    background: rgba(255, 194, 142, 0.15);
    padding: 5px;
    border-radius: 5px;
    margin-right: 8px;
}

.category-tag a:hover{
    color: rgba(3, 0, 255, 0.34);
    background: white;
    text-decoration: none;
}

.add_tag_btn a{
    padding: 3%;
    border-radius: 10px;
    background-color: #f7d6bf;
    color: #8689e4;
    font-size: large;
    margin: 20% auto 10% auto;
}

.tag{
    /*background-color: rgba(255, 255, 255, 0.2);*/
}


.user-item{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #8590a6;
    padding: 16px 20px;

}
.user_item1{
    display: flex;
    display: -webkit-flex;
    justify-content: start;
}
.user_meta{
    font-size: 1.3em;
    width: 45em;
    padding-left: 5%;
}
.user_meta .otherintor{
    color: #757575;
}
.user_item_2 button{
    width: 8em;
    margin-top: 33%;
    background-color: #94a0b7;
    color: #fff;

}
.user_item_2 .btn :hover{
    background-color: #6d5d42;
    color: #fff;
}

.notification-box {
    background-color: white;
    border-bottom: 1px solid #8590a6;
    padding: 10px 15px 5px ;
}
.notification-title button{
    background: none;
    border: none;
}

.notification-title button {
    background: none;
    border: 0 none;
    padding: 0 !important;;
    outline: none;
}

.red-point{
    position: relative;
}

.red-point::before{
    content: " ";
    border: 3px solid red;/*设置红色*/
    border-radius:3px;/*设置圆角*/
    position: absolute;
    z-index: 1000;
    right: 0;
    margin-right: -8px;
}

.delete-btn{
    background: none;
    margin-left: 10%;
    outline: 0 none !important;
    border: 1px #d4211d solid;


}


.content-box{
    background-color: rgba(255, 255, 255);
    border-bottom: 1px solid #e8e8e8;
    padding-top: 20px;
    padding-left: 30px;
}

.content-title{

}

.content-title h4{
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

.content-title h4>a{
    color: rgba(15, 16, 18, 0.78);
    font-size: 1.4em;
}

.content-title h4>a:hover{
    color: #a94442;
}

.content-box a:hover{
    text-decoration: none;
}

.content-tag a{
    font-size: 11px;
    color: #5bc0de;
    margin-right: 1%;
}

.content-tag a:hover{
    color: #ac2925;
}

.content{
    font-size: 1.4em;
    color: #777777eb;
    margin-top: 10px;
    margin-left: 2%;
}
.article-info{
    height: 24px;
    line-height: 24px;
}

.article-info dd {
    float: left;
    font-size: 9px;
    color: #8a8a8a;
    line-height: 24px;
    margin-right: 20px;
}

.writer{

}

.writer a{
    font-size: 13px;
}

.writer a:hover{
    color: #ac2925;
}

.comment{
    float: right;
    line-height: 24px;
}

.comment a{
    color: #777;
}

.comment a:hover{
    color: #f5940b;
}

.comment span {
    right: 3px;
    top: 2px;
    font-size: 13px;
}

.read {
    float: left;
    text-align: center;
}

.comment-num {
    float: left;
}

.refute {
    float: left;
}

.support {
    float: left;
}