{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}文章-ITC技术社区{% endblock %}
{% block head %}


    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index(nl).css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar(nl).css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/articles-index.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/article/support.js') }}"></script>
    <script src="{{ url_for('static', filename='js/article/article-list.js') }}"></script>

{% endblock %}
{% block content %}
    <div style="margin-top: 7.5em">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-0 col-xs-offset-0 col-md-1 col-xs-1">
                    <nav class="side">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle=".navbar-collapse"
                                    data-target="#side-collapse">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse collapse-pad" id="side-collapse">
                            <ul class="side-menu">
                                <li><a class="active">文章首页</a></li>
                                <li><a title="最近发出的受欢迎的文章">最新</a></li>
                                <li><a title="浏览量大、受欢迎、评论数多的文章">最热</a></li>
                                <li><a title="可能感兴趣的文章">感兴趣</a></li>
                                <li><a title="所关注的用户发表的文章">关注</a></li>
                                <li><a title="文章分类">数据库</a></li>
                                <li><a title="文章分类">前端</a></li>
                                <li><a title="文章分类">大数据</a></li>
                                <li><a title="文章分类">编程</a></li>
                                <li><a title="文章分类">移动开发</a></li>
                                <li><a title="文章分类">架构</a></li>
                                <li><a>其他</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-offset-2 col-xs-offset-2 col-md-7 col-xs-8">
                    <div class="article-panel">
                        {% for article in articles %}
                            <div class="content-box" id='1'>
                                <div class="content-title">
                                    <h4>
                                        <a href="{{ url_for('article.content', article_id=article.articleId, _external=True) }}">{{ article.title }}</a>
                                    </h4>
                                </div>
{#                                <div class="content">#}
{#                                    <p>{{ article.content | safe | truncate(50, True) }}</p>#}
{#                                </div>#}
                                {% for tag in article.tags %}
                                    <div class="content-tag">
                                        <a title="该文章的标签">{{ tag.get_object().name }}</a>
                                    </div>
                                {% endfor %}

                                <dl class="article-info">
                                    <dd class="writer">
                                        <a href="">{{ article.get_user() }}</a>
                                    </dd>
                                    <dd class="article-time">
                                        <span>{{ article.publicTime }}</span>
                                    </dd>
                                    <div class="comment">
                                        <dd class="support">
                                            <a title="点赞"><span
                                                    class="glyphicon glyphicon-thumbs-up"></span><span>{{ article.likeUsers.all()|length }}</span></a>
                                        </dd>
                                        <dd class="refute">
                                            <a title="没帮助"><span
                                                    class="glyphicon glyphicon-thumbs-down"></span><span>{{ article.unlikeUsers.all()|length }}</span></a>
                                        </dd>
                                        <dd class="comment-num">
                                            <a title="评论">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                                <span>{{ article.articleComments.all()|length }}</span>
                                            </a>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        {{ macros.pagination_widget(pagination, 'article.list_article') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}