{% extends "base.html" %}
{% block title %}{{ article-content-title }}-ITC技术社区{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/article/support.js') }}"></script>
    <script src="{{ url_for('static', filename='js/article/focus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/article/commentsupport.js') }}"></script>
    <script src="{{ url_for('static', filename='js/article/commentarticle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/article/article-content.js') }}"></script>
    {% if article.is_user_favorite(current_user) == 'true' %}
        <script>
            $(function () {
                $(".btn.support[title='收藏该文章' ] span").css({color: '#ffa321'});
            });
        </script>
    {% endif %}
    {% if article.is_user_like(current_user) == 'true' %}
        <script>
            $(function () {
                $(".btn.support[title='点赞' ] span").css({color: '#ffa321'});
            })
        </script>
    {% endif %}
    {% if article.is_user_unlike(current_user) == 'true' %}
        <script>
            $(function () {
                $(".btn.support[title='没帮助' ] span").css({color: '#ffa321'});
            })
        </script>
    {% endif %}
{% endblock %}
{% block content %}
    <div style="margin-top: 7.5em">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-0 col-xs-offset-0 col-md-1 col-xs-1">
                    <nav class="side">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle=".navbar-collapse"
                                    data-target="#side-collapse">
                                <span class="sr-only">toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse collapse-pad" id="side-collapse">
                            <!-- 参数:title,user_id,article_id -->
                            <div class="side-menu">
                                <button class="btn support" title="点赞"
                                        onclick="javascript:support('点赞',{{ current_user.id }}, {{ article.articleId }})">
                                    <div>
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                    </div>
                                    <div class="support-num">
                                        <span>{{ article.likeUsers.all()|length }}</span>
                                    </div>
                                </button>
                                <button class="btn support" title="没帮助"
                                        onclick="javascript:support('没帮助',{{ current_user.id }}, {{ article.articleId }})">
                                    <div>
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                    </div>
                                    <div class="support-num">
                                        <span>{{ article.unlikeUsers.all()|length }}</span>
                                    </div>
                                </button>
                                <button class="btn support" title="评论" onclick="javascript:commentvisible()">
                                    <div>
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </div>
                                    <div class="support-num">
                                        <span>{{ article.get_article_comments()|length }}</span>
                                    </div>
                                </button>
                                <button class="btn support" title="收藏该文章"
                                        onclick="javascript:support('收藏该文章', {{ current_user.id }}, {{ article.articleId }})">
                                    <div>
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </div>
                                    <div class="support-num">
                                        <span>{{ article.favoriteUsers.all()|length }}</span>
                                    </div>
                                </button>
                                <button class="btn support" title="举报" onclick="javascript:support('举报',1,1)">
                                    <div>
                                        <span class="glyphicon glyphicon-flag"></span>
                                    </div>
                                    <div class="support-num">
                                        <span>10</span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-md-7 col-xs-8" style="padding-left: 10px;padding-right: 0;margin-left: 5%;">
                    <div class="article-panel">
                        <div class="content-box">
                            <div class="content-title">
                                <h4><a href="">{{ article.title }}</a></h4>
                                <div style="margin-bottom: 10px;">
                                    <div class="content-tag">
                                        {% for tag in article.tags.all() %}
                                            <a title="该文章的标签">{{ tag.get_object().name }}</a>
                                        {% endfor %}
                                    </div>
                                    <span>发表时间&nbsp;&nbsp;<span>{{ article.publicTime }}</span></span>
                                    <div class="writer">
                                        <span style="margin-right: 20px">浏览：<span>30</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                {{ article.content | safe }}
                            </div>
                            <div>
                                <dl class="answer-info">
                                    <div class="answer-head">
                                        <div class="answer-num">
                                            <span>{{ article.get_article_comments()|length }}</span>条评论
                                        </div>
                                        <div class="btn-group sort">
                                            <select class="form-control">
                                                <option>按时间</option>
                                                <option>按点赞数</option>
                                                <option>按评论量</option>
                                            </select>
                                        </div>
                                    </div>
                                    {% for comment in article.get_article_comments() %}
                                        <div class="answer-content">
                                            <div class="answer-name">
                                                <a class="name">{{ comment.get_user() }}</a>
                                                <span class="time">{{ comment.commentTime }}</span>
                                                <!--在用户自己发表的评论处显示删除按钮，可以删除自己发表的评论-->
                                                {% if comment.userId == current_user.id %}
                                                    <a class="del-comment"
                                                       data-toggle="modal" data-target="#modal_del"
                                                       onclick="delete_comment({{ comment.commentId }})">删除</a>
                                                {% endif %}
                                            </div>
                                            <div class="answer">
                                                <p>
                                                    {{ comment.content | safe }}
                                                </p>
                                            </div>
                                            <!-- 参数为titile,commentId,userId-->
                                            <div class="answer-tail" id="comment_{{ comment.commentId }}">
                                                <div class="support">
                                                    <a title="评论" href="javascript:saycomment({{ comment.commentId }})"><span
                                                            class="glyphicon glyphicon-edit"></span><span>3</span></a>
                                                </div>
                                                <div class="support">
                                                    <a title="点赞" href="javascript:commentsupport('点赞',1,1)"><span
                                                            class="glyphicon glyphicon-thumbs-up"></span><span>10</span></a>
                                                </div>
                                                <div class="support">
                                                    <a title="没帮助" href="javascript:commentsupport('没帮助',1,1)"><span
                                                            class="glyphicon glyphicon-thumbs-down"></span><span>5</span></a>
                                                </div>
                                            </div>

                                            <div class="answer-comment-box">
                                                <div class="write-comment" style="display: none;">
                                                    <div class="form-group">
                                                            <textarea row="1" id="after_comment_{{ comment.commentId }}"
                                                                      class="form-control"
                                                                      placeholder="评论..."
                                                                      name="after_comment"></textarea>
                                                        <button class="form-control btn" value="评论"
                                                                onclick="post_child_comment({{ comment.commentId }}, {{ article.articleId }})">
                                                            评&nbsp;&nbsp;论
                                                        </button>
                                                    </div>
                                                </div>
                                                {% for child_comment in comment.get_child_comments() %}
                                                    <div class="answer-comment" id='com_{{child_comment.commentId}}'>
                                                        <div class="answer-comment-head">
                                                            <a>{{ child_comment.get_user() }} 回复 {{ child_comment.get_parent_comment_user() }}</a>:&nbsp;&nbsp;<span>{{ child_comment.content | safe }}</span>
                                                        </div>
                                                        <div class="answer-comment-tail">
                                                            <a onclick="javascript:saycomment1({{child_comment.commentId}})">评论</a>
                                                            <!--在用户自己发表的评论处显示删除按钮，可以删除自己发表的评论-->
                                                            {% if child_comment.userId == current_user.id %}
                                                                <a class="del-comment"
                                                                   data-toggle="modal" data-target="#modal_del"
                                                                   onclick="delete_comment({{ child_comment.commentId }})">删除</a>
                                                            {% endif %}
                                                            <span>{{ child_comment.commentTime }}</span>
                                                        </div>
                                                        <div class="comment-comment" style="display: none;">
                                                                <form action="{{ url_for('article.after_comment', article_id=article.articleId, parent_id=comment.commentId, _external=True) }}" method="post">
                                                                    <div class="form-group">
                                                                        <input type="text" name="after-comment" class="form-control" placeholder="评论...">
                                                                    <div class="comment-comment-btn">
                                                                        <button type="button" class="btn" style="background: none;" value="取消">取消</button>
                                                                        <button type="submit" class="btn form-control" value="评论">评&nbsp;&nbsp;论</button>
                                                                    </div>
                                                                    </div>
                                                                </form>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="write-box" id="articlecomment">
                                        <form action="" method="post">
                                            <div class="form-group">
                                                <textarea row="1" name="comment_area"
                                                          class="form-control write-box-textarea"
                                                          placeholder="评论..." value="comment"></textarea>
                                                <button type="submit" class="form-control btn write-box-button"
                                                        value="评论">评&nbsp;&nbsp;论
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-offset-0 col-xs-offset-0 col-md-3 col-xs-2" style="padding-left: 5px;">
                    <div class="writer-info">
                        <div class="writer-head">
                            <h4><span style="font-weight: bolder; color: orange;margin-right: 4px;">|</span>关于作者</h4>
                            <a title="作者" class="writer-name">{{ article.get_user() }}</a>
                            <!-- 参数user_id,writer_id) -->
                            <a href="javascript:focus_author({{ current_user.id }}, {{ article.get_user_object().id }})"
                               title="关注作者" class="plus"><span><span
                                    class="glyphicon glyphicon-plus"></span>{% if is_follow %}已关注{% else %}关注{% endif %}</span></a>
                        </div>
                        <div class="writer-content">
                            <a title="发表的文章"
                               href="{{ url_for('user.articles', user_id=article.get_user_object().id, _external=True) }}">
                                <dl>
                                    <dd>文章</dd>
                                    <dt>{{ article.get_user_object().articles.all()|length }}</dt>
                                </dl>
                            </a>
                            <a title="提出的问题"
                               href="{{ url_for('user.questions', user_id=article.get_user_object().id, _external=True) }}">
                                <dl>
                                    <dd>问题</dd>
                                    <dt>{{ article.get_user_object().questions.all()|length }}</dt>
                                </dl>
                            </a>
                            <a title="粉丝"
                               href="{{ url_for('user.followed', user_id=article.get_user_object().id, _external=True) }}">
                                <dl>
                                    <dd>粉丝</dd>
                                    <dt>{{ article.get_user_object().followers.all()|length }}</dt>
                                </dl>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal_del" tabindex="-1" role="dialog" aria-labelledby="modal_del">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确定删除XXX吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="true_delete()">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}