{% extends "base.html" %}
{% block title %}标签-ITC技术社区{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/QA.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/tags.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/navbar.css" type="text/css">

    <script src="../../static/js/tags/cutpoint.js"></script>
{% endblock %}
{% block content %}
<div style="margin-top: 7.5em">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-xs-offset-2 col-md-8 col-xs-8">
                <div class="article-panel">
                    <div class="tag-name">
                        <span>
                            <span class="glyphicon glyphicon-tags" style="font-size: 12px;background: none"></span>
                            选择标签
                        </span>
                        <span>
                            <a href="{{ url_for('main.index') }}"><button class="btn btn-default">返回主页></a>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="row category-panel">
                    {% for root_tag in root_tags %}
                        <div class="col-md-offset-1 col-xs-offset-1 col-md-5 col-xs-8">
                            <div class="">
                                <div class="category-box">
                                    <div class="category">
                                        <span>|</span><a>{{ root_tag.name }}</a>
                                    </div>
                                    <div class="category-tags">
                                        {% for tag in root_tag.get_child_tags() %}
                                            <div class="category-tag">
                                                 <!--title,tagId,userId-->
                                                 <!--glyphicon glyphicon-plus-sign-->
{#                                                <button class="btn collect-btn" title="取消收藏" onclick="cut('取消收藏',{{ tag.tagId }},{{ current_user.id }});"><span style="font-size: large" class="glyphicon glyphicon-minus-sign" ></span></button>#}
                                                <button id="favorite-btn-{{ tag.tagId }}" class="btn collect-btn" title="收藏该标签" onclick="cut('收藏该标签',{{ tag.tagId }},{{ current_user.id }});"><span style="font-size: large" class="glyphicon glyphicon-plus-sign"></span></button>
                                                <a><span>{{ tag.name }}</span>{{ tag.popularity }}</a>
                                            </div>
                                        {% endfor %}
{#                                        <div class="category-tag">#}
{#                                            <a><span>html</span>×100</a>#}
{#                                        </div>#}
{#                                        <div class="category-tag">#}
{#                                            <a><span>jquery</span>×100</a>#}
{#                                        </div>#}
{#                                        <div class="category-tag">#}
{#                                            <a><span>css</span>×100</a>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}