{% extends "base.html" %}
{% block title %}{{ UserName }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/user/deletenotice.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/user/checknotice.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/user/focus.js') }}" type="text/javascript"></script>
    <script src="../static/js/user/user.js"></script>
{% endblock %}
{% block content %}
        <div class="usercontent">
            <img src="{{ url_for('static', filename='image/touxiang.jpg') }}" height="100" width="100" />
            <div class="userintroduction">
                <p>
                    <b>{{UserName}}</b>
                </p>
                <p>{{UserIntroduction}}</p>
            </div>
            <button class=" btn btn-default userbtn ">编辑个人资料</button>
        </div>
    <div class="userblock row">
        {% block usercontent %}{% endblock %}
        <div class="tag col-lg-3 col-md-3 category-box">
                    <div class="category">
                        <p>我的标签</p>
                    </div>
                    <div class="category-tags">
                        <div class="category-tag">
                            <a>
                                <span>mysql</span>×100</a>
                        </div>
                        <div class="category-tag">
                            <a>
                                <span>sql server</span>×10</a>
                        </div>
                        <div class="category-tag">
                            <a>
                                <span>jdbc</span>×1</a>
                        </div>
                        <div class="category-tag">
                            <a>
                                <span>oracle</span>×10</a>
                        </div>
                        <div class="category-tag">
                            <a>
                                <span>access</span>×10</a>
                        </div>
                        <div class="category-tag">
                            <a>
                                <span>sql</span>×60</a>
                        </div>
                    </div>
                    <div class="add_tag_btn">
                        <a>
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 添加标签</a>
                    </div>
                </div>
    </div>

{% endblock %}